<div class="categories-page">
  <mat-card appearance="outlined" class="categories-page-card">
    <mat-card-header class="categories-card-header">
      <mat-card-title>Available Categories</mat-card-title>
    </mat-card-header>
    <mat-card-content class="categories-card-content">
      <div class="categories">
        <div class="add-category" (click)="onAddCategory()">
          <div class="category-btn-add">
            New Category
          </div>
        </div>
        @for (category of categories; track category) {
          <div class="category">
            <div class="category-name-container">
              <h2 class="category-name">{{category.name}}
                @if(category?.quiz) {
                  <span class="category-nb-questions">{{category?.quiz?.length}} Question(s)</span>
                } @else {
                  <span class="category-nb-questions">0 Question(s)</span>
                }
              </h2>
            </div>
            <p class="category-description">{{category.description}}</p>
            <div class="category-btn-edit-fixed">
              <button mat-stroked-button class="category-btn-edit" (click)="onEitCategory(category)">Edit</button>
            </div>

            <div class="category-btn-delete-fixed">
              <mat-icon (click)="onDeleteCategory(category)" aria-hidden="false" fontIcon="do_not_disturb_on"></mat-icon>
            </div>
          </div>
        }

      </div>
    </mat-card-content>
  </mat-card>
</div>
