:root {
  --root-text-color: #1c1e21;
  --root-container-bg: #f0f2f5;
  --sidebar-width: 300px;
  --toolbar-height: 60px;
  --toolbar-bg: tomato;
  --toolbar-color: #ffffff;
  --footer-bg: #f3f6fb;
  --footer-color: #1c1e21;
  --footer-height: 200px;

  --admin-root-color: rgb(0 43 174);
  --user-root-color: hsl(5 84.112% 58.039%/1);

  --background-base: rgb(245, 245, 248);
  --background-foreground: white;
  --background-foreground-rgb: 255, 255, 255;
  --background-app-bar: #ebebee;
  --background-hover: rgba(0, 0, 0, .04);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--root-text-color);
  background-color: var(--root-container-bg);
}

.page-container {
  background-color: var(--root-container-color);
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.bg-pattern {
  background: linear-gradient(135deg,var(--background-base) 22px,var(--background-hover) 22px,var(--background-hover) 24px,transparent 24px,transparent 67px,var(--background-hover) 67px,var(--background-hover) 69px,transparent 69px),linear-gradient(225deg,var(--background-base) 22px,var(--background-hover) 22px,var(--background-hover) 24px,transparent 24px,transparent 67px,var(--background-hover) 67px,var(--background-hover) 69px,transparent 69px) 0 64px;
  background-color: var(--background-base);
  background-size: 64px 128px;
}

.alert-danger {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

.alert {
  position: relative;
  padding: .75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: .25rem;
}

.mat-button.mat-danger,
.mat-stroked-button.mat-danger {
  color: #FFB996;
}
.mat-button.mat-danger:hover,
.mat-stroked-button.mat-danger:hover {
  background-color: #f0fff3;
}

.mat-raised-button.mat-danger,
.mat-flat-button.mat-danger,
.mat-fab.mat-danger,
.mat-mini-fab.mat-danger {
  color: #f0fff3;
  background-color: #FFB996;
}

.mat-icon-button.mat-danger {
  color:#FFB996;
}
